extends layout
block content

    .main.container
        .row
            .col-md-6.col-md-offset-2
                table(style='width:100%', border='1')
                    tr
                        th Nombre
                        th Email
                        th Dirección
                        th Sitio Web
                        th Pais
                        th Ver Datos
                    each val in programadores
                        tr
                            td #{val.nombre}
                            td #{val.email}
                            td #{val.direccion}
                            td #{val.sitioWeb}
                            td #{val.pais.nombre}
                            td
                                a(href=`/verProgramador/${val._id}`) Ir a Perfil
                a(href='/addProgramador') Agregar Programador