extends layout
block content

    -function prettyDate(dateString){
        //if it's already a date object and not a string you don't need this line:
        -var date = new Date(dateString);
        -var d = date.getDate();
        -var monthNames = [ "Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec" ];
        -var m = monthNames[date.getMonth()];
        -var y = date.getFullYear();
        -return d+' '+m+' '+y;
    -}

    div
        h1 #{categoria.nombre}
        if apps.length>0
            table
                tr
                    th Nombre
                    th Fecha de Lanzamiento
                    th Precio
                    th Categoria
                    th Correo del Programador
                    th Datos del Programador
                each val in apps
                    tr
                        td 
                            a(href=`/verApp/${val._id}`) #{val.nombre}
                        td #{prettyDate(val.fechaLanzamiento)}
                        td #{val.precio}
                        td #{val.categoria.nombre}
                        td #{val.programador.email}
                        td
                            a(href=`/verProgramador/${val.programador._id}`) Ver datos
        else
            h1 No Hay Apps en esta categoría
    